body{
	background-color: #B3C7CF
}
h1{
	color: #1e438c;
	text-align: center;
}
h2, h3{
	color: #1e438c;
}
p{
	margin-left: 2em;
	width: 50%;
}
.auteur{
	font-weight: bold;
	font-style: italic;
	color: #1e438c
}
